h2 {
    text-align: center;
}



p {
    max-width: 90%; /* Устанавливаем максимальную ширину для параграфов */
    margin-right: 5%; /* Устанавливаем отступ справа для параграфов */
    margin-bottom: 15px; /* Устанавливаем отступ снизу для параграфов */
}

.navbar-brand {
    
    margin-left: -250px; /* Здесь Вы можете установить желаемый отступ слева */
  }